<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="main-page">
    <div class="main-sub-ar">
        <div class="mian-title-ar">
            <h1 class="main-title">오늘의 소개팅</h1>
        </div>
        <div class="main-sub-content-ar">
            <div class="main-sub-content">
                <h1>profile - 1</h1>
            </div>
            <div class="main-sub-content">
                <h1>profile - 2</h1>
            </div>
        </div>
    </div>
    <div class="main-sub-ar">
        <div class="mian-title-ar">
            <h1 class="main-title">오늘의 미팅</h1>
        </div>
        <div class="main-sub-content-ar">
            <div class="main-sub-content">
                <h1>profile - 3</h1>
            </div>
            <div class="main-sub-content">
                <h1>profile - 4</h1>
            </div>
        </div>
    </div>
</div>
</html>
